body{
  font-family:Georgia, 'Times New Roman', Times, serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background: black;
  color:beige;
  padding: 1px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: azure;
  text-decoration: none;
}

#about {
  padding: 20px;
  background: rgb(160, 157, 157);
}
#about h2 {
  margin-top: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content:center;
}

.project {
  width: 400px;
  padding: 10px;
  background: beige;
  border: 1px solid rgb(24, 22, 22);
  text-align: center;
}

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */

.container {
  display: grid;
  place-items: center;  
  text-align: center;
  height: 90vh
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-transform: uppercase;
}

.matemasie-regular {
  font-family: "Matemasie", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 150px;
}
