
header{
    display: grid;
    height:600px;
    width: 100%;
    justify-content: space-around;
    background-image:url("../imagenes/seccion1.png");
    background-repeat:no-repeat;
    background-size: cover;
   
}

.titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: beige;
    
}