
header{
    display: grid;
    height:600px;
    width: 100%;
    background-image:url("../imagenes/seccion1.png");
    background-repeat:no-repeat;
    background-size: cover;
   
}

.titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: beige;   

}

.rubik-uniquifier {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size:100px;
  color: azure;
}